[submodule "cse542/stat542-ca1"]
	path = cse542/stat542-ca1
	url = git@github.com:yardasol/stat542-ca1
[submodule "cse542/stat542-ca2"]
	path = cse542/stat542-ca2
	url = git@github.com:yardasol/stat542-ca2
